<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <main class="main-container">
        <header id="hero">
            <h1 class="landing-page-heading">Travel Planner</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit impedit cum molestias, temporibus excepturi dolorum?</p> -->
            <!-- <button>Get Started</button> -->
            <a href="#form-and-results" class="headerBtn">Get Started</a>
        </header>
        <section id="form-and-results">
            <div class="results" id="results-container">
                <div id="results-text-container">
                </div>
            </div>
            <div id="destination-image"></div>
            <div class="form-container">
                <!-- <form onsubmit="return Client.formHandler(event)"> -->
                <form>
                    <label for="destination">Destination</label>
                    <input class="text-input" id="destination" type="text" name="input" value="" placeholder="Where would you like to go?" required>
                    <div class="date-container">
                        <label for="month">Month</label>
                        <select id="month" name="month">
                            <option value="00">January</option>
                            <option value="01">February</option>
                            <option value="02">March</option>
                            <option value="03">April</option>
                            <option value="04">May</option>
                            <option value="05">June</option>
                            <option value="06">July</option>
                            <option value="07">August</option>
                            <option value="08">September</option>
                            <option value="09">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                        <label for="day">Day</label>
                        <select id="day" name="day">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                        <label for="year">Year</label>
                        <select id="year" name="year">
                        </select>
                    </div>
                    <!-- <label for="date">Travel Date</label>
                    <input class="date-input" id="date" type="date" name="trip-start" value=""> -->
                    <!-- <input class="button" id="formSubmit" type="submit" name="" value="Submit" onclick="return Client.formHandler(event)" onsubmit="return Client.formHandler(event)"> -->
                    <input class="button" id="formSubmit" type="submit" name="" value="Submit">
                </form>
            </div>
            <!-- <form class="main-form">
                <h2 class="form-heading">Travel Details</h2>
                <p class="form-requirements">Destination and Departure Date Required</p>
            </form> -->
        </section>
        <footer>
            <p>Lorem ipsum dolor sit.</p>
        </footer>
    </main>
</body>
</html>