$primaryColor: #63382a;

* {
    margin: 0;
    padding: 0;
}

html, body {
    // height: 100%;
}

body {
    // margin: 0;
    // padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    // font-family: "Lato", sans-serif;
    color: $primaryColor;
}

.main-container {
    // margin: 0;
    // min-height: 100%;
    // position: relative;
}

header {
    // background: rgba(0,0,0,0.8);
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    // width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

        h1 {
            padding: 2rem 0;
            font-size: 4rem;
            font-weight: 100;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
        }

        button {
            padding: 1rem;
            font-size: 1.5rem;
            color: rgb(251, 246, 226);
            background-color: rgba(251, 246, 226,0);
            border-radius: 0.5rem;
            border: 0.1rem solid rgb(251, 246, 226);

            &:hover {
                background-color: rgb(251, 246, 226);
                color: $primaryColor;
                cursor: pointer;
            }
        }
}

.form-and-results {
    display: flex;
    justify-content: space-between;
    // flex-grow: 1;
    min-height: 500px;
    align-items: stretch;
    // font-size: 2rem;
    background-color: rgba(240,240,240,1);

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50vw;
    
            input {
                margin: 0.5rem;
                // font-size: 1rem;
            }
    
            .text-input {
                padding: 0.5rem;
                min-width: 200px;
            }
    
            .button {
                padding: 0.5rem;
            }
        }
    }

    .results {
        width: 50vw;
        text-align: center;
        background-image: url('../img/default.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .results-text {
            background-color: rgba(244,244,244,0.7);
            padding: 1rem;
            border-radius: 0.5rem;
            color: #000
        }
    }
}

footer {
    background-color: rgba(240,240,240,1);
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    // height: 100px;
    text-align: center;
    height: 100px;
}

@media only screen and (max-width: 700px) {

    header {
        h1 {
            font-size: 2rem;
        }
    }
    .form-and-results {
        // border: 1px solid blue;
        flex-direction: column;
        justify-content: space-evenly;

        .form-container {
            // border: 1px solid red;

            form {
                width: 100vw;
            }
        }

        .results {
            width: 100vw;
            // border: 1px solid red;
            flex-grow: 1;
        }
    }
}