$primaryColor: #63382a;

// Resets so that individual elements can be styled
* {
    margin: 0;
    padding: 0;
}

// General Styles
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $primaryColor;
}

a {
    text-decoration: none;
}

// Style the hero to be a full screen banner
#hero {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

        .landing-page-heading {
            padding: 2rem 0;
            font-size: 4rem;
            font-weight: 100;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
        }

        .headerBtn {
            padding: 1rem;
            font-size: 1.5rem;
            color: rgb(251, 246, 226);
            background-color: rgba(251, 246, 226,0);
            border-radius: 0.5rem;
            border: 0.1rem solid rgb(251, 246, 226);

            &:hover {
                background-color: rgb(251, 246, 226);
                color: $primaryColor;
                cursor: pointer;
            }
        }
}

// Styles for the main functioning section of the webpage including the form and displayed results
#form-and-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "results form"
    "results img";
    min-height: 500px;
    background-color: rgb(240,240,240);

    .content-box {
        margin: 2rem;
        box-shadow: 0.5rem 0.5rem 0.25rem rgb(100,100,100);
        border: 0.125rem solid;
        border-radius: 0.5rem;
    }

    #destination-image {
        grid-area: img;
        background-image: url('../img/default.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .form-container {
        grid-area: form;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: rgb(250, 250, 250);

        .form-item {
            margin: 0.5rem;
        }

        label {
            margin: 0.5rem;
            text-align: center;
            font-weight: bold;
        }

        .text-input {
            padding: 0.5rem;
            min-width: 200px;
            min-height: 20px;
            margin: 0.5rem;

            &:hover {
                background-color: rgb(230,230,230);
            }
        }

        .date-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "ml dl yl"
            "m d y";
            justify-items: center;

            select {
                margin: 0 0.5rem;
                width: 6rem;
                height: 2rem;

                &:hover {
                    background-color: rgb(230,230,230);
                    cursor: pointer;
                }
            }

            #month-label {
                grid-area: ml;
                align-self: center;
            }

            #month {
                grid-area: m;
            }

            #day-label {
                grid-area: dl;
            }

            #day {
                grid-area: d;
            }

            #year-label {
                grid-area: yl;
            }

            #year {
                grid-area: y;
            }
        }

        .button {
            padding: 0.5rem;
            
            &:hover {
                font-weight: bold;
            }
        }
    }

    #results-container {
        grid-area: results;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(250, 250, 250);
        padding: 1rem;

        #results-text-container {
            padding: 2rem;
            border-radius: 0.5rem;
            line-height: 2rem;
            text-align: start;
            font-size: 1.25rem;
            list-style-type: circle;
        }
    }
}

// Styles for the footer
footer {
    background-color: rgba(240,240,240,1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

// Styles changes for small size screens
@media only screen and (max-width: 770px) {

    #hero {
        .landing-page-heading {
            font-size: 2rem;
        }
    }
    #form-and-results {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 2fr;
        grid-template-areas: 
        "form"
        "img"
        "results";

        .content-box {
            margin: 0.5rem;
            box-shadow: 0.5rem 0.5rem 0.25rem rgb(100,100,100);
            border: 0.125rem solid;
            border-radius: 0.5rem;
        }

        .date-container {

            #month {
                width: 5.75rem;
                height: 2rem;
            }

            #day {
                width: 3rem;
            }

            #year {
                width: 4rem;
            }
        }

        #results-container {
            #results-text-container {
                font-size: 1rem;
                // line-height: 1rem;
            }
        }
    }
}